body {
    background-color: rgb(33, 37, 41);
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: auto;
    width: 95%;

    background-color: rgb(33, 37, 41);
    /*border-radius: 10px;*/
}

canvas {
    /*width: 100%;*/
    border: black 1px solid;
    background-color: rgb(50, 60, 70)
}

.canvas-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: rgb(33, 37, 41);
}

.card {
    padding: 20px;
    width: 100%;
    background-color: rgb(59, 74, 88);
}

#eco-elements-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color:  rgb(59, 74, 88);
    border: black 1px solid;
    overflow-x: hidden;
    transition: 0.5s;

    display: flex;
    flex-direction: column;

}

#eco-elements-groups-list {
    margin: 1em;
    background-color: rgb(33, 37, 41);
    padding: 0.5em;
}

.eco-elem {
    min-width: 250px;
    min-height: 20px;
    background-color:  rgb(59, 74, 88);
    border: black 1px solid;
    margin-bottom: 1px;
    padding-left: 10px;
}

.eco-elem:hover {
    cursor: pointer;
}
